pkgbase = bat2sh
	pkgdesc = 将 Windows 批处理 (.bat/.cmd) 与 PowerShell (.ps1) 脚本转换为 Bash 脚本的图形化工具
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/yaxiaiyuting/bat2sh
	install = bat2sh.install
	arch = any
	license = AGPL-3.0-or-later
	depends = python
	depends = pyside6
	depends = hicolor-icon-theme
	depends = shared-mime-info
	depends = desktop-file-utils
	options = !strip
	source = bat2sh-1.7.0.tar.gz::https://github.com/yaxiaiyuting/bat2sh/archive/refs/tags/v1.7.0.tar.gz
	sha256sums = 533c2f9ab18d5ac30e2fd375e30f6946870946ebbbaae93313fa8f94c249fd12

pkgname = bat2sh
