pkgbase = bat2sh
	pkgdesc = 将 Windows 批处理 (.bat/.cmd) 与 PowerShell (.ps1) 脚本转换为 Bash 脚本的图形化工具
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/yaxiaiyuting/bat2sh
	install = bat2sh.install
	arch = any
	license = AGPL-3.0-or-later
	depends = python
	depends = pyside6
	depends = hicolor-icon-theme
	depends = shared-mime-info
	depends = desktop-file-utils
	options = !strip
	source = bat2sh-2.1.0.tar.gz::https://github.com/yaxiaiyuting/bat2sh/archive/refs/tags/v2.1.0.tar.gz
	sha256sums = 474972c03979e016fbea25ec64796b6e12c890779594ed05be888c49c9971253

pkgname = bat2sh
